/* html {
    font-weight: 600;
    font-family: Helvetica;
}

body {
   background-image: url("paper.gif");
   background-color: #cccccc;
}


.banner {
    position: relative;
    z-index: 5;
}


.a1 {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228)
}

imageFlamingo {
    padding-bottom: 10%;

} */

#Find {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background-color: #ffffff;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    height: 48px !important;
    box-sizing: border-box;
}

.Login {
  letter-spacing: 1pt;
  position: relative;
  color: #2d3436;
  width: 50%;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 1.5em;
  text-align: center;
  float: right;
}
.find{
background-color: transparent;
  border:2px solid #2cbaba;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  margin-left: 15px;
  width:430px;
  box-sizing: border-box;
  color: #fff;
  font-family: Helvetica;
  /* font-weight:500; */
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
  letter-spacing : 2pt;

} 

.imgPrincipal{
    height: 300px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.iconStarContainer {
    color: #7f8c8d;
}

.iconStarContainer .fa-star {
    margin: 10px 10px;
    cursor: pointer;
}

.iconStarContainer i {
    margin: 30px 30px; 
}

.selected-star {
    color: #e67e22;
}

.descriptContainer {
    float: left;
    margin-left: 30px;
}

.descriptContainer h4 {
    color: #2cbaba;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 21px;
}

.starGeneralContainer {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

.starGeneralContainer .fa-times:hover {
    color: #a06b88;
}

.close {
    float: left;
    margin-left: 380px;
    cursor: pointer;
    margin-top: 10px;
}

.iconStarContainer{
    margin-top: 3px;
}

.evaluationContainer {
    background: #f5f9f9;
}

.hotelName {
    color: #ffff;
    font-size: 1.500em;
    font-family: arial;
}

.evaluationButton {
    background-color: #2cbaba;
    border-radius: 5px;
    color: #f5f9f9;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    width: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.evaluationButton:hover {
    background-color: #236f6f;
}

.evaluationModal {
    width: 400px;
}

.clearFix {
    clear: both;
}


.error-input{
    background-image:url(../../img/invalid3.png); 
    background-repeat: no-repeat; 
    background-position: right;
    border-bottom: 2px solid #c0392b;
}

a.fa-eye {
  /* color: #000; */
  cursor: pointer;
  margin: 4%;
}



.card{
    width: 310px;
    height: 350px;
    border: 1px solid #000;
    float: left;
    margin-left: 100px;
    margin-top : 80px;
    border:2px solid #2cbaba;

}
.card header{
    background: #6D214F;
    padding-top: 5px;
    color: #fff;
}
.card .img_container{
    width: 100%;
    height: 100px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 15px;
}
.card .img_container img{
    width: 100%;
    height: 150%;
    /* border-radius: 50%;
    margin-left:23px;;
    margin-right:auto;
    margin-top : 15px; */
}
.card h2, .card h3{
    font-family: Helvetica;
    letter-spacing: 2pt;
    text-align: center;
    font-size: 28px;
    margin-top: 60px;
    color: #ffffff;
}

.card h3{
    font-size: 20px; 
    margin-bottom: 15px;
}
.card p{
    text-align: center;
    margin-bottom: 25px;
}
.card button{
    float :left;
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    font-size: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 103px;
}

/* .card btnVer{
     float :left;
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: auto;
    font-family: Helvetica;
    font-size: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 150px;

}

.card btnEvaluar{
     float :left;
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: auto;
    font-family: Helvetica;
    font-size: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 150px;

} */

.card button:hover{
    background: #d63031;
}

body {
   background: url("./images/background.jpg") fixed no-repeat;
   background-size : cover;
}
.logo{
    font-family: Helvetica;
    letter-spacing: 3pt;
    color: #ffffff;
    font-size: 28px;
    margin-left : 1100px;
    margin-top:15px;
}
.llegada{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 5px; 
    color:#fff;
    font-family : Helvetica; 
    letter-spacing: 2pt; 
}

.salida{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 5px; 
    color:#fff;
    font-family : Helvetica; 
    letter-spacing: 2pt;
}

.clearFix {
    clear: both;
}

h1 {
  font-size:50px;
  color: #fff;
  padding-top:10px;
  text-align: center;
  font-family: Helvetica;
  letter-spacing: 2pt;
}

body { color:white }

.f-input::placeholder {
  color: #fff;
  opacity:0.9;
}

.f-input {
  background-color: transparent;
  border:2px solid #2cbaba;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:35%;
  box-sizing: border-box;
  color: #2cbaba;
  font-family: Helvetica;
  /* font-weight:500; */
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
  letter-spacing : 2pt;

}

.f-input:focus { 
  border:2px solid #3a3939; }

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

button {
  max-width:300px;
   font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background:#2cbaba;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
text-align:center;
  transition: all 0.3s;
  margin-bottom:20px;
  margin-top: 25px;

}
button:hover {
 background:#3a3939; 
}

.registry{
    text-align:center;
}


.dateBox {
  background-color: transparent;
  border:2px solid #2cbaba;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  color: #fff;
  font-family: Helvetica;
  /* font-weight:500; */
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
  letter-spacing : 2pt;

}

.see{
    float :left;
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left :180px; */
    margin-left: auto;
    margin-right: 15%;
    font-family: Helvetica;
    font-size: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 103px;

}

.score {
    float :left;
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 180px;
    margin-right: auto;
    font-family: Helvetica;
    font-size: 12px;
    background: transparent;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 103px;

}



/*estilos del modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #888;
    width: 34%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 16px;
    background-color: #2cbaba;
    color: white;
    margin-bottom: 20px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: 5cb85c;
    color: white;
}

.stars {
    height: 92px;
    margin-left: -36px;
}