/* html {
    font-weight: 600;
    font-family: Helvetica;
}

body{
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner {
    position: relative;
    z-index: 5;
}


.a1 {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228)
}

imageFlamingo {
    padding-bottom: 10%;

} */

#Find {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background-color: #ffffff;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    height: 48px !important;
    box-sizing: border-box;
}

.Login {
  letter-spacing: 1pt;
  position: relative;
  color: #2d3436;
  width: 50%;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 1.5em;
  text-align: center;
  float: right;
}
.Find{
    letter-spacing: 1pt;
    font-family: Helvetica;

}

.imgPrincipal{
    height: 300px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.iconStarContainer {
    color: #7f8c8d;
}

.iconStarContainer .fa-star {
    margin: 10px 10px;
    cursor: pointer;
}

.iconStarContainer i {
    margin: 30px 30px; 
}

.selected-star {
    color: #e67e22;
}

.descriptContainer {
    float: left;
    margin-left: 30px;
}

.descriptContainer h4 {
    color: #a06b88;
    font-family: Arial, Helvetica, sans-serif;
}

.starGeneralContainer {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

.starGeneralContainer .fa-times:hover {
    color: #a06b88;
}

.close {
    float: left;
    margin-left: 380px;
    cursor: pointer;
    margin-top: 10px;
}

.iconStarContainer{
    margin-top: 3px;
}

.evaluationContainer {
    background: #f5f9f9;
}

.hotelName {
    color: #7f757b;
}

.evaluationButton {
    background-color: #a06b88;
    border-radius: 5px;
    color: #f5f9f9;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.evaluationButton:hover {
    background-color: #925f7b;
}

.evaluationModal {
    width: 400px;
}

.clearFix {
    clear: both;
}


.error-input{
    background-image:url(../../img/invalid3.png); 
    background-repeat: no-repeat; 
    background-position: right;
    border-bottom: 2px solid #c0392b;
}

a.fa-eye {
  /* color: #000; */
  cursor: pointer;
  margin: 4%;
}



.card{
    width: 250px;
    height: 300px;
    border: 1px solid #000;
}
.card header{
    background: #6D214F;
    padding-top: 5px;
    color: #fff;
}
.card .img_container{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.card .img_container img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.card h2,.card h3{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.card h3{
    font-size: 20px; 
    margin-bottom: 15px;
}
.card p{
    text-align: center;
    margin-bottom: 25px;
}
.card button{
    display: block;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    font-size: 12px;
    background: #6D214F;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.card button:hover{
    background: #B33771;
}
